@import url(../css/login.css);

div#form_fundo {
    margin: 2% 50% 5% 5%;
    position: absolute;
}

div#form_fundo.listaUsuarios {
    margin: 2% 5% 5% 60%;
    position: absolute;
}

div#form_frente.listaUsuarios {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;
}

.titulo {
    text-align: center;
    margin: 5% 5% 5% 5%;
    font-size: 45px;
}
